:root {
  --spacing: 3rem;
  --column: 4
}

* {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}


ul.image__list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  margin: 5rem 0 0 calc(-1 * var(--spacing));
  flex-wrap: wrap;
}

.image__item {
  width: calc((100% / var(--column)) - var(--spacing));
  margin-left: var(--spacing);
  margin-bottom: var(--spacing);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}